ENV=
PORT=
APP_HOST=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SSL_MODE=disable
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

SLACK_OAUTH_CLIENT_ID=
SLACK_OAUTH_CLIENT_SECRET=

JWT_SIGNED_SECRET=
MB_DB_FILE=
MB_DB_TYPE=
MB_DB_DBNAME=
MB_DB_PORT=
MB_DB_USER=
MB_DB_HOST=
MB_DB_PASS=
MB_ADMIN_PASS=
JAVA_TIMEZONE=US/Eastern
