ENV=dev
PORT=8080
APP_HOST=http://localhost
PLATFORM=docker

PGADMIN_DEFAULT_EMAIL=admin@admin.admin
PGADMIN_DEFAULT_PASSWORD=admin

#https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token
GITHUB_PERSONAL_TOKEN=
GITHUB_PERSONAL_TOKEN=

# Payment Method
PAYMENT_DRIVER=stripe 
STRIPE_API_KEY=
STRIPE_PRODUCT_KEY=
STRIPE_ENDPOINT_SECRET=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=tentn
POSTGRES_SSL_MODE=disable
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Filesystem driver: google, local
FILESYSTEM_DRIVER=local
#Service account must be json object
GOOGLE_APPLICATION_CREDENTIALS=

SLACK_OAUTH_CLIENT_ID=
SLACK_OAUTH_CLIENT_SECRET=
SLACK_BOT_TOKEN=

JWT_SIGNED_SECRET=
MB_DB_FILE=
MB_DB_TYPE=
MB_DB_DBNAME=
MB_DB_PORT=
MB_DB_USER=
MB_DB_HOST=
MB_DB_PASS=
MB_ADMIN_PASS=
JAVA_TIMEZONE=US/Eastern

INTERNAL_API_KEY=
