package handler

import (
	"net/http"

	repo "github.com/10hourlabs/tentn/internal/repository"
	"github.com/10hourlabs/tentn/internal/service"
	"github.com/10hourlabs/tentn/oneword"
	"github.com/google/uuid"
	"github.com/labstack/echo"
)

type {{.Entity}}Handler struct {
	{{.Entity}}Service    *service.{{.Entity}}Service
	{{.Entity}}Repository *repo.{{.Entity}}Repository
}

func New{{.Entity}}Handler() *{{.Entity}}Handler {
	return &{{.Entity}}Handler{
		{{.Entity}}Service:    service.New{{.Entity}}Service(),
		{{.Entity}}Repository: repo.New{{.Entity}}Repository(),
	}
}

func (*{{.Entity}}Handler) ResourceName() string {
	return {{.FileName}}
}

func (h *{{.Entity}}Handler) ReadAll(c echo.Context) error {
	records, err := h.{{.Entity}}Repository.GetAll()
	if err != nil {
		return c.String(http.StatusInternalServerError, err.Error())
	}
	return c.JSON(http.StatusOK, records)
}

func (h *{{.Entity}}Handler) ReadByID(c echo.Context) error {
	id, err := uuid.Parse(c.Param(oneword.UUID))
	if err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	record, err := h.{{.Entity}}Repository.GetByUUID(id)
	if err != nil {
		return c.String(http.StatusNotFound, err.Error())
	}
	return c.JSON(http.StatusOK, record)
}

func (h *{{.Entity}}Handler) CreateOne(c echo.Context) error {
	params := new(repo.{{.Entity}}Params)
	if err := c.Bind(params); err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	record, err := h.{{.Entity}}Repository.Create(*params)
	if err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	return c.JSON(http.StatusCreated, record)
}

func (h *{{.Entity}}Handler) UpdateByID(c echo.Context) error {
	id, err := uuid.Parse(c.Param(oneword.UUID))
	if err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	params := new(repo.{{.Entity}}Params)
	if err := c.Bind(params); err != nil {
		return err
	}
	record, err := h.{{.Entity}}Repository.Update(id, *params)
	if err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	return c.JSON(http.StatusOK, record)
}

func (h *{{.Entity}}Handler) DeleteOne(c echo.Context) error {
	id, err := uuid.Parse(c.Param(oneword.UUID))
	if err != nil {
		return c.String(http.StatusBadRequest, err.Error())
	}
	err = h.{{.Entity}}Repository.DeleteByUUID(id)
	if err != nil {
		return c.String(http.StatusNotFound, err.Error())
	}
	return c.NoContent(http.StatusNoContent)
}
