package repository

import (
	"time"

	"github.com/theterminalguy/tentn/ent"
	"github.com/theterminalguy/tentn/ent/{{.PackageName}}"
	"github.com/google/uuid"
)

type {{.Entity}}Repository struct{}

type {{.Entity}}Params struct {
}

func New{{.Entity}}Repository() *{{.Entity}}Repository {
	return &{{.Entity}}Repository{}
}

func (*{{.Entity}}Repository) GetAll() ([]*ent.{{.Entity}}, error) {
	records, err := dBConn.{{.Entity}}.Query().
		Where({{.PackageName}}.DeletedAtIsNil()).
		All(dBContext)
	if err != nil {
		return nil, err
	}
	return records, nil
}

func (*{{.Entity}}Repository) GetByUUID(id uuid.UUID) (*ent.{{.Entity}}, error) {
	record, err := dBConn.{{.Entity}}.Query().
		Where({{.PackageName}}.UUIDEQ(id)).
		Only(dBContext)
	if err != nil {
		return nil, err
	}
	if record.DeletedAt != nil {
		return nil, ErrRecordDeleted
	}
	return record, nil
}

func (*{{.Entity}}Repository) Create(p {{.Entity}}Params) (*ent.{{.Entity}}, error) {
	err := ValidateParams(p)
	if err != nil {
		return nil, err
	}
	record, err := dBConn.{{.Entity}}.
		Create().
		// TODO: set other fields here
		Save(dBContext)
	if err != nil {
		return nil, err
	}
	return record, err
}

func (r *{{.Entity}}Repository) Update(id uuid.UUID, p {{.Entity}}Params) (*ent.{{.Entity}}, error) {
	err := ValidateParams(p)
	if err != nil {
		return nil, err
	}
	record, err := r.GetByUUID(id)
	if err != nil {
		return nil, err
	}
	_, err = record.Update().
		// TODO: set other fields here
		Save(dBContext)
	if err != nil {
		return nil, err
	}
	return record, nil
}

func (r *{{.Entity}}Repository) DeleteByUUID(id uuid.UUID) error {
	record, err := r.GetByUUID(id)
	if err != nil {
		return err
	}
	_, err = record.Update().
		SetDeletedAt(time.Now()).
		Save(dBContext)
	if err != nil {
		return err
	}
	return nil
}
